Package: applist
Name: AppList
Version: 1.3
Architecture: iphoneos-arm
Description: Allow extensions to read the list of installed apps
Maintainer: Ryan Petrich <rpetrich@gmail.com>
Author: Ryan Petrich <rpetrich@gmail.com>
Depends: mobilesubstrate, firmware (>= 3.0)
Section: System
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=AppListDp
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=AppListDp
dev: rpetrich
