Package: applist
Name: AppList
Version: 1.5.8~beta1
Architecture: iphoneos-arm
Description: Allow extensions to read the list of installed apps
Maintainer: Ryan Petrich <rpetrich@gmail.com>
Author: Ryan Petrich <rpetrich@gmail.com>
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 3.0), com.rpetrich.rocketbootstrap (>= 1.0) | firmware (<< 7.0)
Section: System
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=AppListDp
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=AppListDp
dev: rpetrich
